@font-face {
    font-family: 'SFRounded';
    src: url('SFRounded-Medium.woff2') format('woff2'),
        url('SFRounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}